body,
html {
  font-family: "Host Grotesk", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}
body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.light-theme {
  background-color: #f2f0ef;
  color: black;
}

body.light-theme .story {
  transition: background-color 0.5s ease, color 0.5s ease;
  color: black;
}

body.dark-theme {
  background-color: #181817;
  color: white;
}

body.dark-theme .story {
  background-color: #181817
  color: white;
}

body.dark-theme .collapsible {
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: #f2f0ef;
  color: black; 
}
body.dark-theme .collapsible:hover {
  background-color: #797877;
}

body.dark-theme a {
  color: #78c0ff;
} 

h5,
p {
  margin-top: 0;
}
.theme-toggle {
  position: absolute; /* Changed from fixed to absolute */
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1000;
}

.theme-toggle img {
  width: 100%;
  height: 100%;
}
.mode {
  width: 120px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 20%;
  top: 20px;
  margin: 20px;
}

.sun, .moon {
  width: 20px;
  height: 20px;
  margin: 0 5px; /* Adjust the margin to move them closer to the switch */
}

.switch {
  position: relative; 
  width: 40px; /* Adjusted width */
  height: 20px; /* Adjusted height */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 20px; /* Adjusted border-radius */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Adjusted height */
  width: 16px; /* Adjusted width */
  left: 2px; /* Adjusted position */
  bottom: 2px; /* Adjusted position */
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%; /* Adjusted border-radius */
}

input:checked + .slider {
  background-color: #bfbfbf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px); /* Adjusted translateX */
  -ms-transform: translateX(20px); /* Adjusted translateX */
  transform: translateX(20px); /* Adjusted translateX */
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.profile-image {
  position: relative;
  display: flex;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  top: 20px; /* This stays the same, because we add margin-top to body */
  left: 50%;
  transform: translateX(-50%);
  width: 150px; /* Profile picture size */
  height: 150px;
  border-radius: 50%; /* Makes it round */
  object-fit: cover;
}

.accordianimage {
  text-align: center;
}

.deteng,
.chrome,
.keylogger,
.atomicredteam {
  width: calc(75% - 36px); /* Match the width of .story */
  max-height: 100%; /* Ensure the height fits within the parent container */
  height: auto !important;
  display: inline-block; /* Ensure proper alignment */
}

.intro {
  position: center;
  text-align: center;
  margin-top: 0px;
  display: flex;
  flex-direction: column; /* Or row, if you want a horizontal layout */
  align-items: center;
}
.row {
  display: flex;
  justify-content: space-evenly; /* Ensures equal spacing */
  align-items: flex-start; /* Aligns columns to the top */
  width: 100%;
  padding: 20px; /* Adds padding inside the row container */

  max-width: 600px; /* Adjust based on your design */
  margin: 0 auto;
  padding-top: 10px; /* Adds spacing from the resume link */
}

.col {
  padding-right: 50px;
  display: flex;
  flex-direction: column; /* Ensures vertical stacking */
  justify-content: flex-start; /* Aligns text to the top */
  width: 45%; /* Ensures both columns have equal width */
}

.contact {
  width: 100%;
  background: #797877;
  padding: 40px;
  box-sizing: border-box;
  color: white;
  margin-top: 5%;
}
.linkedin,
.github,
.medium {
  width: 30px;
  height: 30px;
}

.links {
  text-decoration: none;
}

.collapsible {
  background-color: #181817;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "Host Grotesk", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.active,
.collapsible:hover {
  background-color: #797877;
}

.collapsible:after {
  content: "\002B";
  color: white;
  float: right;
}

.story {
  max-height: 0;
  width: calc(75% - 36px); /* Adjust width to account for padding */
  overflow: hidden;
  transition: max-height 0.4s ease-out, padding-top 0.4s ease-out;
  padding: 0 18px; /* Add padding around the text */
}

/* Add padding-top when the collapsible is active */
.active + .story {
  padding-top: 10px;
}

.active:after {
  content: "\2212";
}

.time {
  display: flex;
  flex-direction: column; /* Or row, if you want a horizontal layout */
  text-align: left;
  align-items: center;
}

.biodata {
  max-width: 850px;
}

.content {
  display: flex;
  flex-direction: column; /* Or row, if you want a horizontal layout */
  text-align: left;
  align-items: center;
  width: 100%;
}

.right {
  text-align: right;
}