body {
  background-color: #f2f0ef;
  font-family: "Host Grotesk", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.profile-image {
  width: 150px; /* Set the width for the profile picture */
  height: 150px; /* Set the height to keep it round */
  border-radius: 50%; /* Makes it round like a profile picture */
  object-fit: cover; /* Ensures the image doesn't stretch */
}
.image-container {
  text-align: center;
}