body, html {
  background-color: #f2f0ef;
  font-family: "Host Grotesk", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.profile-image {
  position: absolute;
  top: 20px; /* This stays the same, because we add margin-top to body */
  left: 50%;
  transform: translateX(-50%);
  width: 150px; /* Profile picture size */
  height: 150px;
  border-radius: 50%; /* Makes it round */
  object-fit: cover;
}

.intro {
  text-align: center;
  margin-top: 180px;  
}

.education {
  position: absolute;
  top: 350px; 
  left: 30%;
}


.uni{
  position: absolute;
  top: 350px; 
  left: 50%;
}

.contact {
  position: absolute;
  top: 600px; 
  left: 10%;
}
.collapsible {
  background-color: #181817;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: "Host Grotesk", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

.active, .collapsible:hover {
  background-color: #797877;
}

.collapsible:after {
  content: '\002B';
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  width: 71%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.time{
  position: absolute;
  top: 500px; 
  left: 20%;

}